/*
* Color
*/
$primary: #1468c9;
$inProgress: #1B84FF;
$warning: #FFC107;
$success: #52C41A;
$error: #FF4D4F;
$white: #FFFFFF;
$black: #000000;
$gray: #DBDFE9;
$grayLight: rgba(219, 223, 233, 0.2);

/*
* Size
*/


